<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>MemberRegistration</display-name>
    <servlet-name>MemberRegistration</servlet-name>
    <servlet-class>com.MyReaderSpace.registration.MemberRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberRegistration</servlet-name>
    <url-pattern>/MemberRegistration</url-pattern>
  </servlet-mapping>
  <display-name>MyReaderSpace</display-name>
  <welcome-file-list>
    <welcome-file></welcome-file>
    <welcome-file></welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file></welcome-file>
    <welcome-file></welcome-file>
    <welcome-file></welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MemberLogin</display-name>
    <servlet-name>MemberLogin</servlet-name>
    <servlet-class>com.MyReaderSpace.registration.MemberLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberLogin</servlet-name>
    <url-pattern>/MemberLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.MyReaderSpace.registration.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookRequest</display-name>
    <servlet-name>BookRequest</servlet-name>
    <servlet-class>com.MyReaderSpace.registration.BookRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookRequest</servlet-name>
    <url-pattern>/BookRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LibrarianLogin</display-name>
    <servlet-name>LibrarianLogin</servlet-name>
    <servlet-class>com.MyReaderSpace.registration.LibrarianLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibrarianLogin</servlet-name>
    <url-pattern>/LibrarianLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GrantRequest</display-name>
    <servlet-name>GrantRequest</servlet-name>
    <servlet-class>com.MyReaderSpace.registration.GrantRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GrantRequest</servlet-name>
    <url-pattern>/GrantRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBook</display-name>
    <servlet-name>AddBook</servlet-name>
    <servlet-class>com.MyReaderSpace.registration.AddBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBook</servlet-name>
    <url-pattern>/AddBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBook</display-name>
    <servlet-name>UpdateBook</servlet-name>
    <servlet-class>com.MyReaderSpace.registration.UpdateBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBook</servlet-name>
    <url-pattern>/UpdateBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReturnBook</display-name>
    <servlet-name>ReturnBook</servlet-name>
    <servlet-class>com.MyReaderSpace.registration.ReturnBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnBook</servlet-name>
    <url-pattern>/ReturnBook</url-pattern>
  </servlet-mapping>
</web-app>